@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ededed;
    margin: 0;
    padding: 0;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    font-family: 'arial';
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
}

a {
    text-decoration: none;
    font-family: arial;
    letter-spacing: 1px;
}

span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}

.dales {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.headerr {
    color: #FFF;
    background: #0a4661;
    height: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.optionsBarr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsBarr span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}

.photouserr {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}

.closer {
    width: 25px;
    height: 25px;
}

.optionsBarr a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}